@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #fff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  @apply flex w-full min-h-28 items-center justify-center gap-6 p-6 bg-green700;
}

.logo {
  @apply rounded-3xl;
}

.title {
  @apply text-4xl font-bold text-white;
}

.baner {
  @apply w-screen h-full flex flex-col items-center gap-8 justify-center mt-12;
}

.slogan {
  @apply text-4xl font-bold text-green900;
}

.imagem {
  @apply border border-green900;
}

.title-text {
  @apply text-green900 text-4xl text-left font-bold mt-10;
}

.footer {
  @apply w-screen h-full bg-green700 flex
}

